@model OREC.BL.DTO.RegisterDTO

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    .login-sec {
        padding: 0px 30px !important;
        position: relative;
    }
</style>
<title>OREC - Register</title>
<h2 class="text-center">Register</h2>
<form method="post">
    <div class="form-group">
        <input asp-for="FirstName" placeholder="First Name" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="LastName" placeholder="Last Name" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="EmailID" placeholder="Email" class="form-control" />
        <span asp-validation-for="EmailID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    @Html.ValidationMessage("customError", new { @class = "text-danger" })
    <div class="form-check">
        <input type="submit" class="btn btn-login float-right" value="Submit" />
    </div>
    <div class="copy-text"><a id="login" asp-controller="Account" asp-action="Login">Sign in instead</a></div>
</form>
<div class="modal fade" id="popupModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Registration successfull, please login</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary text-white" asp-controller="Account" asp-action="Login">Ok</a>
            </div>
        </div>
    </div>
</div>

<script>
    if(@Model.Code==200) {
        $("#popupModal").modal('show');
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


